# Hopsworks Serverless Feature Store credentials
# You can sign up for free and get them by following this link
# https://www.hopsworks.ai/
HOPSWORKS_PROJECT_NAME="YOUR_HOPSWORKS_PROJECT_NAME_GOES_HERE"
HOPSWORKS_API_KEY="YOUR_HOPSWORKS_API_KEY_GOES_HERE"